*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(145,86,225);
    font-family: sans-serif;
    background: linear-gradient(90deg, rgba(145,86,225,1) 0%, rgba(255,151,104,1) 100%);
}

.text-right{
    text-align: right;
}
#calc-wrapper{
    height: 472px;
    width: 300px;
    margin: auto auto;
    border-radius: 7px;
    margin-top: 50vh;
    transform: translateY(-25vh);
}
.display-bar{
    background-color: #212121;
    padding: 20px;
}
.result{
    font-size: 40px;
}
.number-list{
    color: #D98192;
    font-size: 18px;
}
.btn-container{
    display: flex;
    flex-wrap: wrap;
}
.btn{
    padding: 25px;
    font-size: 20px;
    width: 25%;
    border: transparent;
}
.equal-btn{
    width: 50%;
}
.top-3{
    background-image: linear-gradient(to right,#f7f7f7, #f6f6f6, #f5f5f5, #f4f4f4, #f3f3f3, #f2f2f2, #f1f1f1);
}
.remaining-white{
    background-image: linear-gradient(to right, #ffffff, #fefefe, #fdfdfd, #fcfcfc, #fbfbfb, #fafafa, #f9f9f9, #f8f8f8, #f7f7f7, #f6f6f6, #f5f5f5, #f4f4f4);
}
.divide-sign{
    background-color: #9156E1;
}
.multiply-sign{
    background-color: #8D52DD;
}
.sub-sign{
    background-color: #894ED9;
}
.add-sign{
    background-color: #8547D9;
}
.equal-sign{
    background-color: #E62F89;
}
.white-text{
    color: white;
}